<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
       .vertical-menu {
  width: 500px; 
}

.vertical-menu a {
  background-color: #eee; 
  color: black; 
  display: block;
  padding: 12px;
  text-decoration: none;
}

.vertical-menu a:hover {
  background-color: rgb(106, 115, 240); 
}

.vertical-menu a.active {
  background-color: #04AA6D; 
  color: white;
}
    </style>
</head>
<body>
    <h1>MYSQL NODE CRUD</h1>
    <div class="vertical-menu">
        <a href="/add">ADD STUDENT</a>
        <a href="/search">SEARCH STUDENT</a>
        <a href="/update">UPDATE STUDENT</a>
        <a href="/delete">DELETE STUDENT</a>
        <a href="/view">VIEW STUDENT</a>
    </div>
</body>
</html>